/*.exe
**/__pycache__
**/*.egg-info
*.bak
/data
/out
/venv
/.coverage
/.env
/.idea
/.gitignore.bak
/.pytest_cache
/.vscode
/app.slack.com_cookies.txt
/cov.xml
/slackdump
/slackdump_Linux_x86_64.tar.gz
/secrets.txt
/slackdump
/C03HQM5DE*
/C2R198BRC*
